# Для всех файлов
[**]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
max_line_length = 100
indent_style = tab
indent_size = 4

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

[**.{cs,vb}]
dotnet_naming_rule.private_fields_with_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_with_underscore.style = underscore_prefix_style
dotnet_naming_rule.private_fields_with_underscore.severity = warning

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_prefix_style.capitalization = camel_case
dotnet_naming_style.underscore_prefix_style.required_prefix = _

[**.{cs,sln,csproj}]
indent_style = tab
indent_size = 4

[**.{js,json,yaml,yml,cshtml,html,htm,ps1,sh}]
indent_style = space
indent_size = 2
